<!DOCTYPE html>
<head>
    <title>Add Ingredient</title>
    <link rel="stylesheet" href="/Main1.css">
</head>
<body>

    <nav id="nav_bar">
        <img src="/pom_honey_logo.png" id="pom_logo">
        <a href="inventory"><div id="nav_storeOrders">Inventory</div></a>
    </nav>
    
    <div id="form_wrapper">
        <form action="addingredient" method="post">
            <label for="ingredientname">Ingredient Name:</label>
            <input id="ingredientname" type="text" name="ingredientname"/>
            <label for="ingredientunit">Ingredient Unit:</label>
            <input id="ingredientunit" type="text" name="ingredientunit"/>
            <input type="submit" value="Add Ingredient"/>
        </form>
    </div>

    <div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>

</body>