<!DOCTYPE html>
<head>
    <title>Add Store Order</title>
    <link rel="stylesheet" href="/Main1.css">
</head>
<body>
    <nav id="nav_bar">
        <img src="/pom_honey_logo.png" id="pom_logo">
        <a href="storeorder"><div id="nav_storeOrders">Store Orders</div></a>
    </nav>

    <div id="form_wrapper">
        <form action="addstoreorder" method="post">
            <label for="orderplaced">Order Placed:</label>
            <input id="orderplaced" type="text" name="orderplaced"/>
            <label for="orderreceived">Order Received:</label>
            <input id="orderreceived" type="text" name="orderreceived"/>
            <label for="price">Price:</label>
            <input id="price" type="text" name="price"/>
            <label for="employeeid">Employee ID:</label>
            <input id="employeeid" type="text" name="employeeid"/>
            <label for="amounts">Amounts:</label>
            <input id="amounts" type="text" name="amounts"/>
            <label for="ingredientids">Ingredient IDs:</label>
            <input id="ingredientids" type="text" name="ingredientids"/>
            <label for="prices">Prices:</label>
            <input id="prices" type="text" name="prices"/>
            <input type="submit" value="Add Store Order" id="submit_button"/>
        </form>
    </div>

    <div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>

</body>