<!DOCTYPE html>
<head>
    <title>Employee Search</title>
</head>
<body>
    <form action="employeesearch" method="post">
        <select id="employeeattribute" name="employeeattribute">
            <option value="employeeid" name="attribute">ID</option>
            <option value="employeename" name="attribute">Name</option>
            <option value="employeestatus" name="attribute">Status</option>
        </select>
        <label for="employeesearch">Employee Search</label>
        <input id="employeesearch" type="text" name="employeesearch"/>
        <input type="submit" value="Search" id = "submit"/>
    </form>
</body>