<!DOCTYPE html>
<head>
    <title>Menu Search</title>
</head>
<body>
    <form action="menusearch" method="post">
        <select id="menuattribute" name="menuattribute">
            <option value="itemid" name="attribute">ID</option>
            <option value="itemname" name="attribute">Name</option>
            <option value="price" name="attribute">Price</option>
            <option value="onmenu" name="attribute">On Menu</option>
        </select>
        <label for="menusearch">Menu Search</label>
        <input id="menusearch" type="text" name="menusearch"/>
        <input type="submit" value="Search" id = "submit"/>
    </form>
</body>