<!DOCTYPE html>
<head>
    <title>Update Ingredient</title>
    <link id="StyleSheetID" rel="stylesheet" href="/Main1.css">
    <script defer src="/updateingredient_script.js"></script>
</head>
<body>
    

    <div class="navbar">
        <img src="/pom_honey_logo.png" id="pom_logo">
        <a href="inventory"><div id="inventory">Inventory</div></a>
        <script>
            function StyleChange(){
              var link = document.getElementById("StyleSheetID"); 
              PageStyle = localStorage.getItem('CurrentStyle');
              if(PageStyle == 'Main1'){
                  link.setAttribute('href', '/Main1.css')
              }
              else if(PageStyle == 'Main2'){
                  link.setAttribute('href', '/Main2.css')
              }
              else if (PageStyle == null){
                  link.setAttribute('href', '/Main1.css')
                  localStorage.setItem('CurrentStyle', 'Main1');
              }
          }
          StyleChange();
          </script>
          <script>
            function button2(){
              var link = document.getElementById("StyleSheetID"); 
              if(link.getAttribute("href") == "/Main1.css"){
                link.setAttribute("href", "/Main2.css"); 
                localStorage.setItem('CurrentStyle', 'Main2');
              } 
              else if(link.getAttribute("href") == "/Main2.css"){
                link.setAttribute("href", "/Main1.css"); 
                localStorage.setItem('CurrentStyle', 'Main1');
              }
          }
        </script>   
          <a><button class="button_nav" onclick="button2()">Style Change</button></a>
    </div>
    
    <div id="form_wrapper">
        <div id="error"></div>
        <form action="updateingredient" method="post" id="updateingredient_form">
            <label for="ingredientid">Ingredient ID:</label>
            <input id="ingredientid" type="text" name="ingredientid" required/>
            <label for="ingredientname">Ingredient Name:</label>
            <input id="ingredientname" type="text" name="ingredientname" required/>
            <label for="ingredientstock">Ingredient Stock:</label>
            <input id="ingredientstock" type="text" name="ingredientstock" required/>
            <label for="ingredientlaststocked">Ingredient Last Stocked:</label>
            <input id="ingredientlaststocked" type="text" name="ingredientlaststocked" required/>
            <label for="ingredientstockstatus">Ingredient Stock Status:</label>
            <input id="ingredientstockstatus" type="text" name="ingredientstockstatus" required/>
            <label for="ingredientunit">Ingredient Unit:</label>
            <input id="ingredientunit" type="text" name="ingredientunit" required/>
            <input type="submit" value="Update Ingredient"/>
        </form>
    </div>

    <div class ="translate" id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>

</body>